{% extends  'base.html' %}

{% block main %}
    <div class="row justify-content-center">
        <div class="col-md-6 col-12">
            <h2>{{ raid.rules.title }} #{{ raid.pk }}</h2>
            <hr/>
            <p>{{ raid.rules.description }}</p>
            <ul>
                <li>максимум человеков в области {{ raid.rules.max_bots }}</li>
                <li>максимум роботов в области {{ raid.rules.max_players }}</li>
            </ul>
            <hr/>
            {% if raid.finished_at %}
                <h2>Лог рейда</h2>
                <hr/>
                {% for item in raid.action_log %}
                    <p>{{ item }}</p>
                {% endfor %}
            {% else %}
{#                <form action="{% url 'raids-detail-start' pk=raid.pk %}" method="POST">#}
{#                    {% csrf_token %}#}
{#                    <button class="btn btn-warning justify-content">запустить</button>#}
{#                </form>#}
            {% endif %}
        </div>
        <div class="col-md-6 col-12">
            {% if raid.finished_at %}
                <h2>Замеченные роботы</h2>
                <hr/>
                {% for item in raid.users.values %}
                    <p>
                        {{ item.name }} -
                        {% if item.health > 0 %}
                            успешно справился с заданием
                        {% else %}
                            пропал без вести
                        {% endif %}
                    </p>
                {% endfor %}
                <hr/>
                <h2>Замеченные человеки</h2>
                <hr/>
                {% for item in raid.bots.values %}
                    <p>
                        {{ item.name }} -
                        {% if item.health > 0 %}
                            покинул зону задание живым
                        {% else %}
                            пропал без вести
                        {% endif %}
                    </p>
                {% endfor %}
            {% else %}
                <h2>Замеченные роботы</h2>
                <hr/>
                {% for person in raid.players.all %}
                    <p>
                        {% if person.user == user %}
                            <a href="{% url 'persons-detail' pk=person.pk %}">
                                {{ person.name }}
                            </a>
                        {% else %}
                            {{ person.name }}
                        {% endif %}
                    </p>
                {% empty %}
                    <p>
                        Погрузочные камеры пустуют
                    </p>
                {% endfor %}
                <hr/>
                <h2>Замеченные человеки</h2>
                <hr/>
                <p>
                    Информация отсутствует
                </p>
                <hr/>
            {% endif %}
        </div>
    </div>

{% endblock %}