{% extends 'base.html' %}

{% block title %}Завершенные миссии{% endblock %}

{% block content %}
    <div class="block">
        <a class="tag" href="{% url 'infra_dashboard' %}">
            <span class="icon-text">
                <span class="icon">
                    <i class="fa-solid fa-arrow-left"></i>
                </span>
                <span>
                    вернуться к общей сводке
                </span>
            </span>
        </a>
    </div>
    <h1 class="title">Завершенные миссии</h1>
    <hr/>
    <table class="table is-striped is-fullwidth">
        <thead>
        <tr>
            <th>Временная метка</th>
            <th>Роботы</th>
        </tr>
        </thead>
        <tbody>
        {% for raid in raid_list %}
        <tr>
            <td>
                <a href="{% url 'infra_raid_detail' raid.pk %}">
                    {{ raid.created_at|date:"U" }}
                </a>
            </td>
            <td>
                <ul>
                {% for raid_robot in raid.raid_robots.all %}
                    {% if raid_robot.user == user %}
                        <li>
                            {% if raid_robot.is_died %}
                                <span class="tag is-danger">
                                    <i class="fa-solid fa-user-slash"></i>
                                </span>
                            {% else %}
                                <span class="tag is-success">
                                    <i class="fa-solid fa-user-check"></i>
                                </span>
                            {% endif %}
                            <a href="{% url 'infra_robot_detail' raid_robot.robot.pk %}">
                                {{ raid_robot.robot.name }}
                            </a>
                        </li>
                    {% endif %}
                {% endfor %}
                </ul>
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
    <hr/>
    {% include "_pagination.html" with page_obj=page_obj base_url='' %}
{% endblock content %}