{% extends 'base.html' %}

{% block title %}Боевой отчет {{ raid.created_at|date:"U" }}#{{ raid.pk }}{% endblock %}

{% block content %}
    <div class="block">
        <a class="tag" href="{% url 'infra_raid_list' %}">
            <span class="icon-text">
                <span class="icon">
                    <i class="fa-solid fa-arrow-left"></i>
                </span>
                <span>
                    вернуться к списку миссий
                </span>
            </span>
        </a>
    </div>
    <h1 class="title">Боевой отчет {{ raid.created_at|date:"U" }}#{{ raid.pk }}</h1>
    <hr/>
    <div class="columns">
        <div class="column">
            <h2 class="subtitle">Журнал</h2>
            <div class="content">
                {% for log in raid.action_log %}
                    <p>{{ log }}</p>
                {% endfor %}
            </div>
        </div>
        <div class="column">
            <h2 class="subtitle">Замеченные субъекты</h2>
            {% for raid_robot in raid.raid_robots.all %}
                <div class="block">
                    {% if raid_robot.is_died %}
                        <span class="tag is-danger">
                            <i class="fa-solid fa-user-slash"></i>
                        </span>
                    {% else %}
                        <span class="tag is-success">
                            <i class="fa-solid fa-user-check"></i>
                        </span>
                    {% endif %}
                    {% if raid_robot.user == user %}
                    <a href="{% url 'infra_robot_detail' raid_robot.robot.pk %}">
                        {{ raid_robot.robot.name }}
                    </a>
                    {% else %}
                    {{ raid_robot.robot.name }}
                    {% endif %}
                </div>
            {% endfor %}
            {% for raid_bot in raid.bots_result.values %}
                <div class="block">
                    {% if raid_bot.killed_by %}
                        <span class="tag is-danger">
                            <i class="fa-solid fa-user-slash"></i>
                        </span>
                    {% else %}
                        <span class="tag is-success">
                            <i class="fa-solid fa-user-check"></i>
                        </span>
                    {% endif %}
                    {{ raid_bot.name }}
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}