{% extends 'base.html' %}

{% block title %}Новый робот{% endblock %}

{% block content %}
    <div class="block">
        <a class="tag" href="{% url 'infra_robot_list' %}">
            <span class="icon-text">
                <span class="icon">
                    <i class="fa-solid fa-arrow-left"></i>
                </span>
                <span>
                    вернуться к списку роботов
                </span>
            </span>
        </a>
    </div>
    <h1 class="title">Новый робот</h1>
    <hr/>
    {% if form.non_field_errors %}
    <div class="notification is-danger">
        <ul>
            {% for error in form.non_field_errors %}
                <li>{{ error }}</li>
            {% endfor %}
        </ul>
    </div>
    {% endif %}
    <div class="columns">
        {% if can_create_robots %}
            {% for option in robot_options %}
            <div class="column">
                <form action="{% url 'infra_robot_add' %}" method="post">
                    {% csrf_token %}
                    <div class="card">
                        <header class="card-header">
                            <div class="card-header-title">
                                <input class="input" type="text" name="name" value="{{ option.name | default:forloop.counter }}">
                            </div>
                        </header>
                        <div class="card-content">
                            <table class="table">
                                <tr>
                                    <td><b>Мощность</b></td>
                                    <td>{{ option.data.strength }}</td>
                                </tr>
                                <tr>
                                    <td><b>Подвижность</b></td>
                                    <td>{{ option.data.dexterity }}</td>
                                </tr>
                                <tr>
                                    <td><b>Вычислительные блоки</b></td>
                                    <td>{{ option.data.intelligence }}</td>
                                </tr>
                                <tr>
                                    <td><b>Запас прочности</b></td>
                                    <td>{{ option.data.constitution }}</td>
                                </tr>
                                <tr>
                                    <td><b>Размер управляющего ядра</b></td>
                                    <td>{{ option.data.wisdom }}</td>
                                </tr>
                                <tr>
                                    <td><b>Коммуникативные возможности</b></td>
                                    <td>{{ option.data.charisma }}</td>
                                </tr>
                            </table>
                            <input type="hidden" name="robot_option_key" value="{{ option.key }}">
                            <div class="columns">
                                <div class="column">
                                    <div class="field">
                                        <div class="control">
                                            <button class="button is-link">
                                                Выбрать
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            {% endfor %}
        {% else %}
        <div class="column">
            <div class="block has-text-danger">
                Достигнут текущий лимит разведчиков
            </div>
        </div>
        {% endif %}
    </div>
    {% if can_create_robots %}
        <div class="columns">
            <div class="column">
                <div class="card">
                    <header class="card-header">
                        <div class="card-header-title">
                            Справочные данные
                        </div>
                    </header>
                    <div class="card-content">
                        <div class="block">
                            <b>Имя</b> - название вашего робота разведчика которые будет
                            красивыми золотыми буквами выбито на его внутренней обшивке.
                        </div>
                        <div class="block">
                            <b>Боевой опыт</b> - накопленные знания в рамках боевой программы.
                            Многие знания - многие уровни развития.
                        </div>
                        <div class="block">
                            <b>Мощность</b> - напрямую влияет на наносимый урон.
                            Требует много энергии, вызывает зависимость от власти.
                        </div>
                        <div class="block">
                            <b>Подвижность</b> - влияет на маневренность и скорость реакции.
                            Так же расходует энергию и порождает ветер от невероятно быстрых движений.
                        </div>
                        <div class="block">
                            <b>Вычислительные блоки</b> - влияет на возможность применений особых боевых программ.
                            Требуется операционная система не ниже Windows XP.
                        </div>
                        <div class="block">
                            <b>Запас прочности</b> - влияет на количество очков прочности и количество восстанавливаемой
                            прочности в процессе ремонта. Не вернет упущенное, но поможет дожить до глубокой депрессии.
                        </div>
                        <div class="block">
                            <b>Размер управляющего ядра</b> - позволяет видеть больше, чем роботы с маленьким ядром.
                            На само ядро смотреть не нужно. Не смотри на ядро.
                        </div>
                        <div class="block">
                            <b>Коммуникативные возможности</b> - умение вести диалог, договариваться и уходить от ответственности.
                            Возможно и делать ничего не придется. Но это не точно.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}