{% extends  'base.html' %}

{% block main %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'persons-list' %}">Роботы</a></li>
            <li class="breadcrumb-item active" aria-current="page">Задания</li>
        </ol>
    </nav>
    <div class="row justify-content-center">
        <div class="col-6">
            <h2>{{ person.name }}</h2>
            <p>Здоровье {{ person.health }}</p>
            <p>Выносливость {{ person.stamina }}</p>
            {% if person.raid_session %}
                <p>Собирается на задание</p>
            {% else %}
                <p>Находится на базе</p>
            {% endif %}
        </div>
        <div class="col-6">
            <h5>Доступные рейды</h5>
            {% for raid in raids %}
                <div class="card">
                    <div class="h5 card-header">
                        <a href="{% url 'raids-detail' pk=raid.pk %}">
                            {{ raid.rules.title }}
                        </a>
                    </div>
                    <div class="card-body">
                        <p class="card-text">максимум человеков в области {{ raid.rules.max_bots }}</p>
                        <p class="card-text">максимум роботов в области {{ raid.rules.max_players }}</p>
                    </div>
                    <div class="card-footer text-body-secondary">
                        {% if person.raid_session == raid %}
                            это ваше задание
                        {% else %}
                            <form class="d-grid gap-2" action="{% url 'raids-detail-join' pk=raid.pk %}" method="POST">
                                {% csrf_token %}
                                <input name="person_pk" type="hidden" value="{{ person.pk }}">
                                <button class="btn btn-primary justify-content">присоединиться</button>
                            </form>
                        {% endif %}
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}