{% extends  'base.html' %}

{% load static %}

{% block main %}
    <div class="row justify-content-center">
        <div class="col-md-6 col-12">
            <div class="h2">Функцианируют</div>
            <hr/>
            <div class="row g-0">
                {% for person in alive_persons %}
                    <div class="card mb-3">
                        <div class="row g-0">
                            <div class="col-md-4 col-12">
                                <img src="{% static 'img/robot-standart.png' %}" class="col-12" alt="...">
                            </div>
                            <div class="col-md-8 col-12">
                                <div class="card-body">
                                    <h5 class="card-title">
                                        <a href="{% url 'persons-detail' person.pk %}">
                                            {{ person.name }}
                                        </a>
                                    </h5>
                                    <ul class="card-text">
                                        <li>Здоровье {{ person.health }}</li>
                                        <li>Опыт {{ person.experience }}</li>
                                    </ul>
                                    {% if person.raid_session %}
                                        <span class="badge text-bg-warning">
                                            собирается на задание
                                            <a href="{% url 'raids-detail' person.raid_session.pk %}">
                                                "{{ person.raid_session.rules.title }}"
                                            </a>
                                        </span>
                                    {% else %}
                                        <span class="badge text-bg-success">свободен</span>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
        <div class="col-md-6 col-12">
            <h2>Уничтожены</h2>
            <hr/>
            {% for person in dead_persons %}
                <div class="card mb-3">
                    <div class="row g-0">
                        <div class="col-md-4 col-12">
                            <img src="{% static 'img/robot-standart.png' %}" class="col-12" alt="...">
                        </div>
                        <div class="col-md-8 col-12">
                            <div class="card-body">
                                <h5 class="card-title">
                                    {{ person.name }}
                                </h5>
                                <ul class="card-text">
                                    <li>Опыта {{ person.experience }}</li>
                                    <li>{{ person.epitaph }} :: {{ person.died_at|date:"d.m.Y" }}</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}