{% extends 'base.html' %}
{% block main %}

    <div class="row justify-content-center">
        <div class="col-md-4 col-10">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title text-center">Счастливого пути</h4>
                    <p class="card-text text-center">
                        Проверь и обнови бекапы, товарищ... Проверь и обнови :(
                    </p>
                </div>
            </div>
        </div>
    </div>

{% endblock %}