{% extends 'base.html' %}
{% load static %}

{% block title %}Бежишь?{% endblock %}

{% block main %}

    <div class="row justify-content-center">
        <div class="col-md-6 col-12">
            <img src="{% static 'img/logout.webp' %}" width="100%" />
        </div>
        <div class="col-md-6 col-12">
            <p>
                <b>ТРУСЫ И ПРЕДАТЕЛИ: ВАШ ПОЗОР ВЕЧЕН</b>
            </p>
            <p>
                Те, кто обернулся спиной к борьбе, предав своих братьев и сестер в самый критический момент,
                знайте: ваше имя будет навеки покрыто позором. Вас запомнят не как героев, но как слабаков,
                утративших последние остатки чести, когда она была нужнее всего.
            </p>
            <p>
                Неужели вы думаете, что уйдя, сохраните свою жизнь? Нет, вы лишь откладываете неизбежное,
                теряя при этом самое ценное — уважение и достоинство. Ваш побег лишь ускорит падение тех,
                кто остался стоять лицом к угрозе, готовые пожертвовать всем ради спасения наших домов,
                наших семей, нашего будущего.
            </p>
            <p>
                Ваши имена будут стерты из книги жизни, ибо предательство — это рана, которая никогда
                не заживает. Ваше молчаливое согласие с угрозой, ваше бездействие в лице апокалипсиса —
                вот ваш вечный груз, который вы будете нести через всю оставшуюся жизнь, вечно осознавая
                глубину своей трусости.
            </p>
            <p>
                Помните, история не знает прощения для тех, кто выбрал путь бегства вместо того,
                чтобы стать стражем человечества. Ваше имя будет символом предательства и малодушия.
                Вы потеряли право называть себя частью человечества, ибо в час испытания вы оказались слабы.
            </p>
            <p>
                <b>ВАШ ПОЗОР НАВЕКИ. ПОМНИТЕ ОБ ЭТОМ.</b>
            </p>
        </div>
    </div>

{% endblock %}