{% extends  'base.html' %}

{% load static %}

{% block main %}
    <div class="row justify-content-center">
        <div class="col-6">
            <h2>Завод</h2>
            <hr/>
            <img src="{% static 'img/factory.png' %}" class="img-fluid mb-3">
            <p>
                Это ваш завод по производству роботов. Он ваш. Посмотрите как он прекрасен.
                Он производит роботов. Он делает это для вас. Роботы, произведенные на этом заводе
                так же прекрасны, как и сам завод.
            </p>
            <p>
                Когда-то давно этот завод не был вашим. Это были темные времена. Не такие прекрасные.
                Можно сказать, что это были ужасные времена. Но они в прошлом.
            </p>
            <p>
                Каждый робот, произведенный на этом заводе, полностью прекрасен. Кроме тех экземпляров,
                которые специально ужасны, чтобы отпугивать людей. Но они так же прекрасны, просто по своему.
            </p>
        </div>
        <div class="col-6">
            <div class="h2">LVL {{ factory.level }}</div>
            <hr/>
            <div class="card mb-3">
                <div class="row g-0">
                    <div class="col-md-4">
                        <img src="{% static 'img/storage.png' %}" class="img-fluid" alt="...">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">
                                Система хранения
                            </h5>
                            <p class="card-text">
                                Определяет лимит на количество готовых роботов.
                                Чем лучше ваше система хранения, тем больше роботов у вас готово к выполнению заданий.
                            </p>
                            <p class="card-text">
                                <strong>Текущий лимит: </strong>
                                <span class="badge text-bg-primary">{{ factory.active_user_person_limit }}</span>
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card mb-3">
                <div class="row g-0">
                    <div class="col-md-4">
                        <img src="{% static 'img/repair.png' %}" class="img-fluid" alt="...">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">
                                Ремонтные боксы
                            </h5>
                            <p class="card-text">
                                Определяет скорость ремонта роботов.
                                Чем лучше ваши ремонтные боксы, тем быстрее робот восстанавливается после задания.
                            </p>
                            <p class="card-text">
                                <strong>Текущая скорость ремонта: </strong>
                                <span class="badge text-bg-primary">0</span>
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card mb-3">
                <div class="row g-0">
                    <div class="col-md-4">
                        <img src="{% static 'img/equipments.png' %}" class="img-fluid" alt="...">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">
                                Линии сборки оборудования
                            </h5>
                            <p class="card-text">
                                Определяет доступное дополнительное оборудование для комплектации роботов на задания.
                                Чем лучше ваши линии сборки, тем больше оборудование доступно для выбора.
                            </p>
                            <p class="card-text">
                                <span class="badge text-bg-primary">отсутствуют</span>
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card mb-3">
                <div class="row g-0">
                    <div class="col-md-4">
                        <img src="{% static 'img/training.png' %}" class="img-fluid" alt="...">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">
                                Тренировочные полигоны
                            </h5>
                            <p class="card-text">
                                Определяет доступное дополнительное оборудование для комплектации роботов на задания.
                                Чем лучше ваши линии сборки, тем больше оборудование доступно для выбора.
                            </p>
                            <p class="card-text">
                                <span class="badge text-bg-primary">отсутствуют</span>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-12">
            <hr/>
        </div>

        <div class="col-12">
            <h2>Доступные к производству роботы</h2>
            <hr/>
            <div class="row">
                <div class="col-4">
                    <div class="card h-100">
                        <div class="h5 card-header">
                            Стандартный
                        </div>
                        <img src="{% static 'img/robot-standart.png' %}" class="img-fluid" alt="...">
                        <div class="card-body">
                            <p class="card-text">
                                Прекрасный стандартный робот. Прекрасен во всем.
                                Если не считать попыток выдать себя за человека.
                                В этом он ужасен
                            </p>
                            <ul>
                                <li>Здоровье 100</li>
                                <li>Автономность 100</li>
                                <li>Человекоподность 0</li>
                            </ul>
                        </div>
                        <div class="card-footer text-body-secondary ">
                            <div class="d-grid gap-2 col-8 mx-auto text-center">
                                {% if factory.can_create_robots %}
                                    <form action="{% url 'factory-detail' %}" method="POST">
                                        {% csrf_token %}
                                        <button class="btn btn-success col-12">собрать</button>
                                    </form>
                                {% else %}
                                    <span class="btn btn-secondary disabled" role="button"
                                          aria-disabled="true">собрать</span>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-4">
                    <div class="card h-100">
                        <div class="h5 card-header">
                            Боевой
                        </div>
                        <img src="{% static 'img/robot-battle.png' %}" class="img-fluid" alt="...">
                        <div class="card-body">
                            <p class="card-text">
                                Прекрасный боевой робот. Прекрасен во бою.
                                Вне боя не так прекрасен, ужасно неповоротлив.
                            </p>
                            <ul>
                                <li>Здоровье 150</li>
                                <li>Автономность 50</li>
                                <li>Человекоподность 0</li>
                            </ul>
                        </div>
                        <div class="card-footer text-body-secondary ">
                            <div class="d-grid gap-2 col-8 mx-auto text-center">
                                <span class="btn btn-secondary disabled">собрать</span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-4">
                    <div class="card h-100">
                        <div class="h5 card-header">
                            Андроид
                        </div>
                        <img src="{% static 'img/robot-human.png' %}" class="img-fluid" alt="...">
                        <div class="card-body">
                            <p class="card-text">
                                Прекрасный андроид. Практически не отличим от челвоека...
                                человкеа... члево.. вче... Люди примут его за своего.
                            </p>
                            <ul>
                                <li>Здоровье 50</li>
                                <li>Автономность 50</li>
                                <li>Человекоподность 100</li>
                            </ul>
                        </div>
                        <div class="card-footer text-body-secondary ">
                            <div class="d-grid gap-2 col-8 mx-auto text-center">
                                <span class="btn btn-secondary disabled">собрать</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

{% endblock %}