<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <title>Django Authentication Example</title>
</head>
<body>
<nav class="navbar bg-dark border-bottom border-bottom-dark" data-bs-theme="dark">
    <div class="container">
        <a class="navbar-brand text-uppercase" href="{% url 'index' %}">Replica 300623</a>
        <div class="d-flex">
            <ul class="navbar-nav">
                <li class="nav-item">
                    {% if not user.is_authenticated %}
                        <a class="nav-link text-uppercase" href="{% url 'login' %}">Connect</a>
                    {% else %}
                        <a class="nav-link text-uppercase" href="{% url 'logout' %}">Disconnect</a>
                    {% endif %}
                </li>
            </ul>
        </div>
    </div>
</nav>
<div class="container bd-gutter mt-3 my-md-4 bd-layout">
    {% if user.is_authenticated %}
        <ul class="nav justify-content-center">
            <li class="nav-item">
                <a class="nav-link" href="{% url 'factory-detail' %}">Завод</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'persons-list' %}">Роботы</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'raids-list' %}">Задания</a>
            </li>
        </ul>
        <hr/>
    {% endif %}
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-dismissible alert-primary{% if message.tags %} {{ message.tags }}{% endif %}" role="alert">
                {{ message }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        {% endfor %}
    {% endif %}
    {% block main %}
    {% endblock %}
    <div class="footer">
        <hr/>
        <div class="row g-0 text-secondary">
            <div class="col-4">
                Replica 300623
            </div>
            <div class="col-4 text-center">

            </div>
            <div class="col-4 text-end">
                &copy; {% now "Y" %}
            </div>
        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
        crossorigin="anonymous"></script>
</body>
</html>
