{% extends  'base.html' %}
{% load static %}

{% block main %}
    <div class="row justify-content-center">
        <div class="col-lg-6 col-12">
            <img src="{% static 'img/welcome.webp' %}" width="100%" />
        </div>
        <div class="col-lg-6 col-12">
            <p>
                Добро пожаловать, доблестный доброволец, в ряды непоколебимых защитников человечества!
                Сегодня ты стоишь на пороге величайшего вызова нашего времени, готов встретить лицом к лицу угрозы,
                что тают в тени, ожидая момента, чтобы нанести роковой удар.
            </p>
            <p>
                Сквозь века, воины света, подобно тебе, выбирали путь сопротивления, несмотря на все испытания и лишения.
                Но сегодня, перед лицом бездны, когда судьба всего человечества висит на волоске, твой выбор принести
                свой вклад в эту священную борьбу является самым благородным из поступков.
            </p>
            <p>
                Пусть твоё сердце пылает огнем неугасимым, а решимость твоя будет крепкой как сталь.
                Ведь каждый шаг твой, каждое действие способствует защите нашего общего дома, Земли, от теней,
                стремящихся поглотить свет нашего существования.
            </p>
            <p>
                Не забывай, что каждый доброволец в наших рядах - это маяк надежды для всего человечества,
                ведущий его сквозь темноту к светлому будущему. Твоя отвага, твоя сила воли и твоя вера в нашу
                общую победу - вот истинные оружия в этой битве.
            </p>
            <p>
                Помни, мы не просто сражаемся за выживание - мы боремся за будущее, где каждый человек сможет
                взглянуть в небо без страха и ужаса, где мир и справедливость не будут пустыми словами.
                И теперь, когда ты с нами, этот новый мир становится все ближе.
            </p>
            <p>
                Добро пожаловать в братство, где твои братья и сестры по оружию уже ждут,
                чтобы вместе с тобой шагнуть в бой. Вместе мы непобедимы! Вперед, к победе, за наше будущее,
                за человечество!
            </p>
        </div>
    </div>
{% endblock %}
